*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #232528;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 200px;
    position: relative;
    margin: 0 40px;
}

.outer {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px -1px rgb(0 0 0 / 65%),
        -4px -4px 8px -1px rgb(0 0 0 / 65%);
    padding: 20px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 8px -1px rgb(0 0 0 / 25%),
        inset -4px -4px 8px -1px rgb(0 0 0 / 45%),
        -0.5px -0.5px 0 rgb(0 0 0 / 65%);
    padding: 20px;
}

.progressNumber {
    font-weight: 600;
    font-size: 40px;
    color: #fefaf9;
}

.circle {
    fill: none;
    stroke-width: 20px;
    stroke: url(#GradientColor);
    stroke-dashoffset: 565.48;
    stroke-dasharray: 565.48;
    transition: stroke-dashoffset 1s ease-in;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

input {
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
}
